<div class="ion-page" id="main-content">
  <ion-content padding class="background" [fullscreen]="true"
    ><div id="container">
      <div class="isi">
        <div class="judul">APLIKASI KASIR</div>
        <ion-img src="https://i.postimg.cc/zXDw8mvC/logo.png"></ion-img>
        <div class="nama">Bakmi Jowo Mantep Roso</div>
        <form action="" method="post">
          <a href="login">
            <button
              href="login"
              type="button"
              class="tombol-login"
              name="login"
            >
              LOGIN
            </button>
          </a>
          <a href="user_tambah">
            <button
              href="user_tambah"
              type="button"
              class="tombol-regis"
              name="register"
            >
              REGISTER
            </button>
          </a>
        </form>
      </div>
    </div>
  </ion-content>
</div>
