<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Tambah Produk</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list lines="full">
    <ion-item>
      <ion-label position="floating">Nama Produk</ion-label>
      <ion-input
        required
        [(ngModel)]="nama_produk"
        placeholder="Masukkan Nama Produk"
        type="text"
      >
      </ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Harga</ion-label>
      <ion-input
        required
        [(ngModel)]="harga"
        placeholder="Masukkan Harga"
        type="text"
      >
      </ion-input>
    </ion-item>

    <!-- <ion-item>
      <ion-label position="floating">Kategori</ion-label>
      <ion-input
        required
        [(ngModel)]="kategori"
        placeholder="Masukkan Kategori"
        type="text"
      >
      </ion-input>
    </ion-item> -->
    <ion-item>
      <ion-list>
        <ion-item>
          <ion-select
            interface="popover"
            placeholder="pilih kategori"
            required
            [(ngModel)]="kategori"
            placeholder="Masukkan Kategori"
            type="text"
          >
            <ion-select-option value="Makanan" class="kotak"
              >Makanan</ion-select-option
            >
            <ion-select-option value="Minuman">Minuman</ion-select-option>
            <ion-select-option value="Tambahan">Tambahan</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-list>
    </ion-item>
    <ion-row>
      <ion-col>
        <ion-button
          type="button"
          (click)="addProduk()"
          color="primary"
          shape="full"
          expand="block"
          >Tambah Produk
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-list>
</ion-content>
