<div class="ion-page" id="main-content">
  <ion-content padding class="background" [fullscreen]="true">
    <div id="container">
      <div class="header">
        <div class="identitas">
          <div class="judul">Halo!</div>
          <div class="nama">Selamat datang {{ nama }}</div>
        </div>
        <div class="icon">
          <ion-icon md="exit-sharp" (click)="logout()"></ion-icon>
        </div>
      </div>
      <div class="isi">
        <form action="" method="post">
          <div class="produk">
            <a href="produk">
              <button
                href="produk"
                type="button"
                class="tombol-menu"
                name="produk"
              >
                <ion-icon name="bag" class="tombol-icon"></ion-icon>
              </button>
            </a>
            <div class="keterangan">PRODUK</div>
          </div>
          <div class="pemesanan">
            <a href="pesanan">
              <button
                href="pesanan"
                type="button"
                class="tombol-menu"
                name="produk"
              >
                <ion-icon name="cart" class="tombol-icon"></ion-icon>
              </button>
            </a>
            <div class="keterangan">PEMESANAN</div>
          </div>
          <div class="produk">
            <a href="user">
              <button
                href="user"
                type="button"
                class="tombol-menu"
                name="produk"
              >
                <ion-icon
                  name="person-circle-sharp"
                  class="tombol-icon"
                ></ion-icon>
              </button>
            </a>
            <div class="keterangan">AKUN</div>
          </div>
          <div class="pemesanan">
            <a href="riwayat_transaksi">
              <button
                href="riwayat_transaksi"
                type="button"
                class="tombol-menu"
                name="produk"
              >
                <ion-icon name="wallet-sharp" class="tombol-icon"></ion-icon>
              </button>
            </a>
            <div class="keterangan">RIWAYAT TRANSAKSI</div>
          </div>
        </form>
      </div>
    </div>
  </ion-content>
</div>

<!-- <ion-button routerLink="/start">start</ion-button>
  <a href="start">
    <button href="start" type="button" class="tombol-regis" name="login">
      REGISTER START
    </button>
  </a> -->
